.header {
  z-index: 1;
  box-sizing: border-box;

  background-image: url("../images/background_header.svg");
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  height: 800px;

  display: flex;
  flex-direction: column;
  padding: 30px 80px 0 80px;
}

.header__title {
  margin-top: 183px;
  max-width: 729px;
  margin-bottom: 28px;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;

  z-index: 2;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  z-index: 2;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
  display: block;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;

  width: 646px;
  height: 568px;
  z-index: -1;
}

.header__footer {
  margin-top: auto;
  padding-bottom: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
}
